#data {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ingresados {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#cartas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.numerosCartas {
    font-size: 2rem;
    text-align: center;
}

.contenedor1 {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1em;    
    padding-top: 2px;
}

.tablaPersonas {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

:not(caption)>*>* {
    border-bottom-width: 0 !important;
}

.table {
    border-bottom-width: none !important;
    /* border-bottom-width: 1px; */
}

.box {
    background-color: whitesmoke;
}

.hide {
    display: none;
}

i {
    padding: 0.5rem;
    color: rgba(25, 74, 160, 0.5) !important;
    cursor: pointer;
    transition: all 0.2s;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.3rem;
    background-color: transparent;
    border: none;
}

.divBtn{    
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .container1 {
        width: 60%;
        margin: auto;
    }
    .button {
        cursor: pointer;
        transition: all 0.2s;
    }
    .button:hover {
        background-color: #b9b9b9;
        color: #fff;
        cursor: pointer;
        background-color: #63636b;
    }
}

#info{
    margin-left: 1rem;
    margin-right: 1rem;
}

img{
    margin-left: 1rem;
}